/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */

body {
    width: 800px;
    font: inherit;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: #f4f4f4;
  }
.flexbox-container {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 350px;
    background:lightgray;
    overflow: hidden;

}
/* Header */
.flexbox-container1 {
    display: flex;
    width: 100%;
    height: 40px;
    background:blue;
    flex-shrink: 0;    
}
.my-header {
    text-align: center;
    width: 100%;
    height: 40px;
}
header a{
    color: white;
}
/* Nav */
.flexbox-container2 {
    display: flex;
    width: 100%;
    height: 40px;
    background-color: green;
    flex-shrink: 0;  
}
nav {
    width: 100%;
    height: 40px;
    background-color: green;

  }
nav li {
    display: -webkit-inline-flex;
    padding: 0 10px 0 10px;
  }
nav a{
    color: white;
}
ul {
    margin:0px;
    padding: 5px;
}

/* Article */
.flexbox-container3 {
    display: flex;
    flex-direction: column;
    width: 66%;
    height: 230px;
    background-color:pink;
    flex-shrink: 0;  
}
/* Item 1 */
.flexbox-item1 {
    display: flex;
    width: 100%;
    height: 40px;
    background-color: pink;
    flex-shrink: 0;  
}
#my-article {
    text-align: center;
    width: 100%;
    height: 40px;
    background: pink;
}
#my-article a{
    margin-top: 5px;
    color: white;
}
/* Item 2 */
.flexbox-item2 {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    background-color: #932323;
    flex-shrink: 0;  
}
#section-one {
    width: 100%;
    text-align: center;
    background-color: #932323;
    height: 80px;
}
#section-one a{
    margin-top: 5px;
    color: white;
    margin-bottom: 40px;
}
.flexbox-item3 {
    display: flex;
    width: 100%;
    background-color:#932323;
    flex-shrink: 0;  
}
#section-two{
    background: #932323;
    width: 100%;
    height: 80px;
    text-align: center;
}
#section-two a{
    color: white;
}
/* aside */
.flexbox-container4 {
    display: flex;
    width: 34%;
    height: 230px;
    background: skyblue;
    flex-shrink: 0;  
}
.flexbox-item4 {
    display: flex;
    width: 100%;
    height: 230px;
    background-color: skyblue;
}
#boxes {
    height: 230px;
    margin-top: 0px;
    margin-right: 0px;
    width: 100%;
    text-align: center;
    background: skyblue;
}
#boxes a{
    margin-top: 5px;
    color: white;
}
/* Footer */
.flexbox-container5 {
    display: flex;
    width: 800px;
    height: 40px;
    background: green;
    flex-shrink: 0;  
}
.my-footer {
    text-align: center;
    width: 100%;
    height: 40px;
    background: green;
    text-align: center;
}
footer a{
    color: white;
    padding-top: 1px;
}